/*CSS CONFIGURAÇÕES GLOBAIS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

/*CSS REFERENTE AO RODAPÉ*/
.parte {
  color: rgb(207, 212, 218);
  width: 33.1%;
  height: 100%;
  padding: 6%;
  font-size: small;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #1e1c27;
  height: 65%;
}

.subtexto {
  color: rgb(150, 154, 158);
  text-align: justify;
}

.subtexto li {
  padding-bottom: 6%;
}

.titulorodape {
  align-items: flex-start;
  padding-bottom: 18%;
}

.imagemrodape {
  width: 35px;
  margin-right: 15%;
}

.subrodape {
  display: flex;
  align-items: center;
  margin-bottom: 15%;
}

.subrodape1 {
  padding-left: 3%;
  margin-top: -3%;
}

#contact {
  margin-left: -10%;
}

/*FIM DO CSS REFERENTE AO RODAPÉ*/

@media (max-width: 650px) {
  footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #1e1c27;
    height: 65%;
    align-items: center;
  }
  .parte {
    color: rgb(207, 212, 218);
    width: 33.1%;
    height: 100%;
    width: 90%;
    padding: 2%;
  }
  #contact {
    margin-left: 0;
  }
}

/*CSS REFERENTE AO MAPA DA PÁGINA DE CONTATO*/

#mapa {
  display: flex;
  justify-content: center;
  align-items: center;
}

.marker {
  background-image: url('../img/pin-map.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

/*FIM DO CSS REFERENTE AO MAPA DA PÁGINA DE CONTATO*/

/*CSS REFERENTE AO NAVBAR*/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: rgb(104, 100, 100, 0.3);
  position: fixed;
  width: 100%;
  z-index: 1;
}
header h3 {
  padding-right: 15%;
}
header .nav {
  font-weight: bold;
}

.dropdown {
  display: none;
}

/*FIM DO CSS REFERENTE AO NAVBAR*/

/* CSS REFERENTE A PÁGINA SOBRE */
body {
  overflow-x: hidden;
}

.centralize {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 984px;
}

.history-section {
  margin: 100px 0;
  display: flex;
  align-items: center;
}

.history-text {
  margin-right: 40px;
}

.title-36p {
  font-size: 36px;
  font-weight: bold;
}

.content-16p {
  color: #595959;
  font-size: 16px;
}

.history-img {
  max-width: 518px;
}

.time-line-section {
  width: 100%;
  background: #f6f6f6;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-line-row,
.time-line-row-item {
  display: flex;
  align-items: center;
}

.time-line-row-item {
  padding: 0 30px;
}

.time-line-graphic {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-line-circle {
  background: #fab700;
  color: #ffffff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.time-line-dashed {
  border-left: 2px dashed #fab700;
  height: 50px;
}

.time-line-text {
  font-size: 16px;
  padding: 0 15px;
}

.time-line-line {
  width: inherit;
  border-top: 2px solid #fab700;
}

.reverse {
  flex-direction: row-reverse;
}

@media (max-width: 768px) {
  .centralize {
    max-width: 768px;
    margin: 0 auto;
    padding: 0;
  }
  .history-section {
    margin: 50px 0;
    padding: 0 10px;
    flex-direction: column;
  }
  .history-text {
    margin: 0;
  }
  .history-img-container {
    width: inherit;
    overflow: hidden;
  }

  .history-img {
    width: 100%;
  }
}
/* FIM DO CSS REFERENTE A PÁGINA SOBRE */

/* CSS REFERENTE A PÁGINA SEJA VOLUNTÁRIO */
.form-text {
  margin: 100px 0 25px 0;
}

.form-card {
  background: #f6f6f6;
}

.form-card-body {
  color: #222222;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.input {
  background: #ffffff;
  border: 1px solid #222222;
  margin-top: 8px;
  padding: 8px 14px;
}

.input:focus {
  outline: none;
}

.input-label {
  font-size: 14px;
  padding: 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.form-card-footer {
  background: #e7e7e7;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}

.form-btn {
  background: #fab700;
  color: #ffffff;
  font-size: 16px;
  padding: 8px 18px;
}

.form-btn:hover {
  background: #eab000;
  color: #ffffff;
}

.w-100p {
  width: 100%;
}
.w-66p {
  width: 66%;
}
.w-50p {
  width: 50%;
}
/* FIM DO CSS REFERENTE A PÁGINA SEJA VOLUNTÁRIO */

/*CSS REFERENTE AS IMAGENS DA PÁGINA DE GATOS*/

.top {
    margin-top: 80px ;
    justify-self: center;
    align-items: center;
}
.bottom {
    margin-bottom: 80px;
    justify-content: center;
    align-items: center;
}
.row-cat { 
    align-items: center;
    justify-content: center;
    margin: 20px;
    margin-left: 180px;
}
.img {
    width: 260px;
    height: 350px;
    margin: 10px;
}
.img:hover {
    background-color: black;
    opacity: 90%;
}

/*CSS REFERENTE À PÁGINA DE CACHORROS*/
.dogs-banner {
  background-image: url('../img/dogs-banner.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 520px;
  max-height: 100vh;
}

.dogs-title {
  font-size: 40px;
}

#bannerGeral {
  background-image: url('../img/call-contact.png'); 
  background-size: cover;
}

/*CSS PAGINA HOME*/ 
.pTexto {
  font-size: 14px;
  font-weight: 500;
  color: #000000;
}

.dvEscolha h2 {
  font-size: 20px;
  color: #000000;
  padding: 6px 0px;
  margin: 0px;
}
