@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');
*{
    margin: 0;
	padding: 0;
    border: 0;	
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a{
    color: inherit;
    text-decoration: none;
}

li{
    list-style-type: none;
}

.parte{    
    color: rgb(207, 212, 218);
    width: 33.1%;
    height: 100%;
    padding: 6%;    
}

footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #1E1C27;    
    height: 65%;
}

.subtexto{
    color: rgb(150, 154, 158);
    text-align: justify;    
}

.subtexto li{
    padding-bottom: 8%;
}

.titulorodape{
    align-items: flex-start;
    padding-bottom: 18%;
}

.imagemrodape{    
    width: 35px;
    margin-right: 15%;    
}

.subrodape{
    display: flex;    
    align-items: center;
    margin-bottom: 15%;
}

.subrodape1{    
    padding-left: 3%;
    margin-top: -3%;
}




@media (max-width: 800px) {
    footer{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #1E1C27;    
        height: 65%;
        align-items: center;
    }
    .parte{    
        color: rgb(207, 212, 218);
        width: 33.1%;
        height: 100%;
        width: 90%;
        padding: 2%;    
    }
    }


/*CSS REFERENTE AO MAPA DA PÁGINA DE CONTATO*/

#mapa{
    display: flex;
    justify-content: center;
    align-items: center;
}

.marker {
    background-image: url('../images/pin.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }
  
/*FIM DO CSS REFERENTE AO MAPA DA PÁGINA DE CONTATO*/